.main {
    align-items: center;
    color: #24292e;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    gap: 16px;
    width: 100%;
}

.title {
    color: #24292e;
    font-size: 1.5em;
    text-align: center;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 432px;
    width: 100vh;
}

.info {
    color: #24292e;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin: 8px 0;
    text-align: right;
    width: 100%;
}

.dataset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}
